/* reset/normalizer by https://piccalil.li/blog/a-modern-css-reset/ */
:root {
  --color-primary: #000000;
  --color-secondary: rgb(210, 210, 255);
  --color-third: rgb(255, 255, 255);
  --color-light-grey: rgb(232, 232, 232);
  --padding: 1em;
  --gap: calc(2 * var(--padding));
  --font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: Sligoil;
  src: url("assets/fonts/Sligoil-Micro.woff2") format("woff2");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  /* list-style-type: none; */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: var(--font-family);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: var(--padding);
  background-color: var(--color-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL */
header {
  display: grid;
  /* grid-template-columns: 12fr 1fr; */
  gap: calc(4 * var(--padding));
  padding: var(--padding);
}

.grid {
  display: grid;
  gap: var(--gap);
  border-radius: 2em;
  padding: var(--padding);
  background-color: var(--color-secondary);
  /* box-shadow: 0px 0px 10px 10px var(--color-secondary); */
}

footer {
  position: fixed;
  bottom: calc(2 * var(--padding));
  left: 0;
  width: 100%;
}

#reservation {
  padding: 0.5em 0;
  border-radius: 1em;
  border: none;
  font-size: 1.4em;
  text-align: center;
  background: var(--color-light-grey);
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.2s;
}

#reservation:hover {
  background: var(--color-third);
}

#menu {
  /* display: none; */
  position: fixed;
  background: var(--color-light-grey);
  height: 100vh;
  width: 100%;
  /* border-radius: 0px; */
  z-index: 99;
  left: 200vw;
  top: 0;
  transition: 0.3s;
}

#menu-toggle-close {
  position: absolute;
  right: var(--padding);
  top: var(--padding);
  width: 30px;
}

.toggle-open {
  transition: 0.3s;
  transform: translateX(-200vw);
  border-radius: 10px;
}

.menu-nav {
  display: grid;
  margin-top: 2em;
}

.menu-nav a {
  justify-self: center;
  color: var(--color-primary);
  opacity: 0.5;
  text-decoration: none;
}

.menu-nav a:hover {
  opacity: 1;
}

#int-nav {
  font-size: 2em;
}

#ext-nav {
  font-size: 1.25em;
}

/* ABOUT */

/* EPISODE */
#episode .section-header {
  text-align: center;
  margin-bottom: 2em;
}

/* INFORMATION */
#information > div {
  border-top: 1px solid var(--color-primary);
  padding-top: 1em;
}

#information.grid-item > div {
  margin-top: 1em;
}
#information > div:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

#social ul {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around; */
}

#social li {
  margin-right: 10px;
  margin-bottom: 10px;
}

#social li a {
  padding: 4px 6px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-light-grey);
  text-decoration: none;
  transition: 0.2s;
}

#social li a:hover {
  background-color: var(--color-third);
}

.role,
.name {
  display: inline-block;
}

.role::after {
  content: ":";
}

#partners ul {
  /* display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2em; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* padding: 0;
  margin: 0;
  list-style: none; */
}

.partner {
  padding: 5px;
  width: 100px;
  margin-top: 10px;
  text-align: center;
  filter: grayscale(1);
}

.partner:hover {
  filter: grayscale(0);
  transition: 0.2s;
}

.partner-name {
  padding-top: 5px;
  font-size: 0.7em;
  line-height: 1;
}

/* MEDIAQUERIES */

@media (min-width: 1000px) {
  header {
    grid-template-columns: 1fr;
  }
  #menu-toggle-open {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #about {
    font-size: 1.6em;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  #reservation {
    width: calc(100vw / 3);
  }
}

@media (max-width: 370px) {
}

@media (max-width: 999px) {
  :root {
    --padding: 0.5em;
  }
  body {
    padding: 0;
  }
  header {
    grid-template-columns: 12fr 1fr;
  }
  main {
    margin-bottom: 4em;
  }
  #about {
    font-size: 1.2em;
  }
  footer {
    bottom: 0;
  }
  #reservation {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1500px) {
}
